.storyImage{
    width: 175px;
    height: 310px;
}

.storyDiv{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    margin:5px;
    padding:5px;
    cursor: pointer;
}
.storyDiv:hover{
    /* z-index: !important; */
    opacity: 75%;
}
.storyArea{
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
video{
    background-color: white;
    width: 175px;
    height: 310px;
}
.ImageModal{
    top:50%;
    left:50%;
    margin: 0px;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: +4;
}
.modalBlur{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: +3;
    margin: 0px;
    width: 100%;
    top:0px;
    height: 100%;
}
.modalDiv{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    margin:5px;
    padding:5px;
    cursor: pointer;
}
.modalImage{
    width: 350px;
    height: 620px;
}
.modalVideo{
    width: 350px;
    height: 620px;
}
.modalClose{
    font-size: 80px;
    float: right;
    cursor: pointer;
}
.lazyLoader{
    top:50%;
    left:50%;
    margin: 0px;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: +4;
}
.coverScreen{
    width: 100%;
    height: 100%;
}
.video-indicator::before{
    content: "▶";
    font-size: 30px;
    color: #ecf0f1;
    display: flex;
    position: absolute;
    margin: 10px auto auto 10px;
}

.ReelVideo{
    width: 300px;
    height: 580px;
    border: 0px none;
    display: inline-block;
    border-right: 2px solid white;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 300px;
}
.ReelDiv{
    display: inline-block;
    position: relative;
    align-content: center;
    align-items: center;
    margin:5px;
    max-height: 580px!important;
    background-color: #303030;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.671);
}
.ReelModal{
    top:50%;
    left:50%;
    margin: 0px;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: +4;
}
.ReelCaption{
    top:0;
    right: 0px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    width: 280px;
    display: inline-block;
    position: absolute;
}
.ReelUpDate{
    display: inline-block;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    right: 0px;
    width: 280px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    align-self: center;
    align-content: center;
    text-align: left;
}
@media screen and (max-width: 480px) {
    .storyImage{
        width: 110px;
        height: 210px;
    }
    .storyDiv{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        align-content: center;
        align-items: center;
        margin:0.5px;
        padding:0.5px;
    }
    .storyArea{
        text-align: center;
        align-content: center;
        align-items: center;
        padding: 0;
        /* padding-top: 20px;
        padding-bottom: 20px; */
    }
    video{
        width: 110px;
        height: 210px;
    }
    .ReelModal{
        top:0%;
        left:0%;
        width: 100%;
        height: 100%;
        text-align: center;
        transform: translate(0%,0%);
    }
    .ReelDiv{
        max-height: 100%!important;
        width: 100%;
    }
    .ReelVideo{
        width: 100%;
        border-radius: 0%;
    }
    .ReelCaption{
        width: 100%;
        display: block;
        /* bottom: 10!important; */
        overflow: hidden;
        top: auto;
        max-height: 30px;
        text-overflow: ellipsis;

    }
    .ReelUpDate{
        width: 100%;
        display: block;
        bottom: 0;
        position: fixed;
        text-align: right;
        right: 0;
    }
    .modalClose{
        z-index: 5;
        position: absolute;
        right: 0;
        top: 0px;
        color: black;
        font-size: 50px;
    }
    .modalBlur{
        background-color: black;
    }
}