.black{
    background-color: #fafafa !important;
}
body{
    background-color: #fafafa;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 0px!important;
    padding: 0;
    color : #262626 !important;
}
/* .messageHolder{
    width: 50%!important;
} */
.messageReceived{
    margin-top: 10px;
    background-color: transparent;
    border-style: solid;
    border-color: rgba(219, 219,219);;
    border-width: 0.25px;
    max-width: 70%;
    padding: 15px;
    margin-left: 5px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-wrap: break-word!important;
    display: inline-block;
    position: relative;
}
.messageSent{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(239,239,239);
    color: #000;
    max-width: 100%;
    padding: 15px;
    /* margin-left: 50%; */
    margin-right: 5px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-wrap: break-word!important;
    display: flex;
    /* position: relative; */
    justify-content: flex-end;
    
}
.messageHeartS{
    font-size:40px;
    float: right;
    margin:10px;
}
.messageHeartR{
    font-size:40px;
    margin:10px;
}
.imageSent{
    max-width: 200px;
    border-radius:20px;
    max-height: 400px;
}
.messageReceived:hover{
    background-color: rgba(255, 255, 255, 0.103);
}
.messageSent:hover{
    background-color: rgba(243, 241, 241, 0.562);

}
.convoAreaR{
    margin:0px;
    padding: 0px;
    display: flex;
    max-width: 50%;
    align-items: center;
}
.convoAreaS{
    margin:0;
    padding: 0px;
    max-width: 50%;
    margin-left:50%;
    display:flex;
    justify-content: flex-end;
}
.senderInitHolder{
    background-color: #FF4081;
    color: #262626;
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 0px;
}
.senderInitial{
    color: white;
    font-size: 90%;
    line-height: 20px;
    position: relative;
    vertical-align: baseline;

}
.profilecircle{
    background-color: #00BCD4;
    color:  #00b894;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    margin-left: 50px;
    display: inline-block;
    
}
.profileinitials {
    position: relative;
    top: 10.5px; 
    font-size: 25px;
    line-height: 25px; 
    color: #fafafa;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.username{
    margin-left: 15px;
    align-self: center;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.timeStampS{
    font-size: 12px;
    overflow-wrap: break-word;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.timeStampR{
    font-size: 12px;
    overflow-wrap: break-word;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:20px;
}
.timeHide{
    visibility: hidden;
    margin: 0px;
    padding:0px;
    font-size: 0px;
}
.navLogo{
    height: 40px;
    margin: auto;
}
.headBut{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #262626; 
    border-style: none;
    margin: 10px;
}
.headButSelected{
    background-color:#fafafa;
    color: #fff;
    animation: none;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 24.5%;
    display: inline-block;
    border-style: none;
    vertical-align: middle;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 90%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* /////////////////////////////////////////////////////////////// */

  .tooltipS {
    position: relative;
    display: inline-block;
    border-bottom: 1px black;
  }
  
  .tooltipS .tooltiptextS {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 50%;
    margin-left: -60px;
  }
  
  .tooltipS .tooltiptextS::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  
  .tooltipS:hover .tooltiptextS {
    visibility: visible;
  }
  .imageReceived{
    max-width: 200px;
    border-radius:25px;
    max-height: 400px;
    text-align:center;
}
.statusCode{
    font-size: 20px;
    display: block;
    text-align:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    line-height: 200%;
    width : auto;
    border-style: solid;
    margin-bottom: 5px;
    border-width: 1px;
    border-color: grey;
}
.fa-eye-slash{
    margin-top:30px;
}
.directMedia{
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}
