
.profilePhoto{
    padding: 0px;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    height: 13%;
    width: 13%;
    min-width: 73px;
    min-height: 73px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(360deg,rgba(255,220,128),rgba(193,53,132),rgba(131,58,180));
    border-style: initial;
    padding: 0.2%;

}
.header{
    margin: auto;
    width: 80%;
    height: 25%;
    position: relative;
    text-align: center;
}
.fullName{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 3px;
}
.statsHolder{
    display: inline-block;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    vertical-align: middle;
    text-align: start!important;
    line-height: 20px;
}
.stats{
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
}
.userName{
    vertical-align: top;
    font-size: 20px;
    font-weight: 200;
}
.bio{
    font-size: 13px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    overflow-wrap: break-word;
    display: block;
    font-weight: 200;
    max-width: 300px;
}
.bio-alt{
    display:none;
}
.postImage{
    width: 290px;
    height: 290px;
}

.postDiv{
    display: inline-block;
    margin:15px;
    padding:5px;
    cursor: pointer;
}
.postArea{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.postDiv:hover{
    opacity:0.8;
}
.mediaSectionSelector{
    width: 60%;
    border-top: 1px solid rgba(219, 219,219);
    display: flex;
    height: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.mediaButton{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    margin: 0px 35px 0px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mediaButtonSelected{
    border-top: 1px solid black;
}
.mediaButtonIcon{
    vertical-align: middle;
    margin: 5px;
    color: rgb(142,142,142);
}
.mediaButtonText{
    letter-spacing: 1px;
    font-size: 13px;
    color: rgb(142,142,142);
}
@media screen and (max-width: 480px) {
    .postImage{
        width: 110px;
        height: 110px;
    }
    .postDiv{
        display: inline-block;
        position: relative;
        vertical-align: middle;
        align-content: center;
        align-items: center;
        margin: 0px 0.5px 0.5px 0.5px;
        padding:0.5px;
    }
    .postArea{
        width:100%;
        margin:0px;
        text-align: center;
        align-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    .userName{
        font-size: 18px;
        margin-bottom: 10px!important;
    }
    .stats{
        display: inline-block;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .fullName{
        font-size: 15px;
        margin-top: 10px;
    }
    .bio{
        display: none;
    }   
    .profilePhoto{
        height:25%;
        width:25%;
    }
    .bio-alt{
        display: block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
        overflow-wrap: break-word;
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        text-align: start;
        
    }
}

/* @media screen and (max-height: 420px) {
}*/    
 .fa-photo-video , .fa-user ,.fa-trash-alt, .fa-paper-plane , .fa-film{
    color: transparent;
	font-size: 40px;
	-webkit-text-stroke: 2px #000;
}
.fa-trash-alt:hover,.fa-user:hover,.fa-paper-plane:hover{
    color: #000;
    -webkit-text-stroke: 0px transparent;
}
.icon-selected{
    color: #000;
    font-size: 40px;
    -webkit-text-stroke: 0px transparent;
} 
.statClick{
    cursor: pointer;
}

.statModal{
    top:50%;
    left:50%;
    margin: 0px;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: +4;
    width: 400px;
    background-color:#fafafa;
    height: 400px;
    border-radius: 15px;
    border-style: solid;
    border-width:0.5px;
    border-color: grey;
}
.statArea{
    margin-top:40px;
    height:358px;
    width: 100%;
    border-bottom-right-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
    overflow: scroll;
}
.statArea::-webkit-scrollbar{
    width: 3px;
    background-color: #fff;
    height: 100%;
}
.statArea::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 15px;
}
.statBlur{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: +3;
    margin: 0px;
    left: 0px;
    width: 100%;
    top:0px;
    height: 100%;
}
.statHeader{
    width: 400px;
    height: 40px;
    margin: 0px;
    position: absolute;
    z-index: +4;
    background-color:#fff;
    text-align: center;
    line-height: 250%;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 0.5px;
    border-color: rgba(219, 219,219);
    border-top-left-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-top-right-radius: 15px;
}
.statModalClose{
    font-size: 35px;
    float: right;
    cursor: pointer;
    position: fixed;
    right:0;
    margin-right:10px;
}
.connection{
    width: 100%;
    height:50px;
    border-style: solid;
    border-bottom-width: 0.5px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-color: rgba(219, 219,219);
    cursor:pointer;
}
.connection:hover{
    background-color: rgba(255, 255, 255, 0.164);
}
.connectionName{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.connectionInitial{
    display: inline-block;
    background-color: rgb(139, 9, 139);
    border-radius: 100%;
    color: #fff;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin:10px;
}
.connectionInitial2{
    display: inline-block;
    background-color: teal;
    color: #fff;
    border-radius: 100%;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin:10px;
}
.noPost{
    width: auto;
    height: 100px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 100px;
    opacity: 0.8;
}
.info{
    display: flex;
    float: right;
    vertical-align: middle;
    position: relative;
    line-height: 70%;
    cursor: pointer;
}
.trash{
    display: flex;
    vertical-align: middle;
    position: relative;
    color:#000;
    background-color: transparent;
    border-width: 0px;
    outline: none;
    cursor: pointer;
    z-index: +1;
}