/* 
.modal{
    width: 900px;
    height: 300px;
    z-index: +2;
    top:50%;
    left:50%;
    margin: 0px;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 118, 38);
}
.modalBlur{
    width: 100%!important;
    position: fixed!important;
    background-color: rgba(255, 255, 255, 0.342);
    z-index: +1;
    height: 100%!important;
} */